<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petspal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SampleApp.DayNight">
        <activity android:name=".PetProfileFrags.DetailsEditInfo"></activity>
        <activity android:name=".Onboarding.AddPet" />
        <activity android:name=".Onboarding.Loading" />
        <activity android:name=".Onboarding.Onboarding" />
        <activity android:name=".DashboardVet" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardClient" />
        <activity android:name=".Account.LogIn" />
        <activity android:name=".Account.Register" />
    </application>

</manifest>